# Python
*.py[cod]
*__pycache__/
*.so
.Python
venv/
env/
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.local

# Node
node_modules/
.next/
out/
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.log